<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>
    </div>
    <section>
        <button type="submit">Login</button>
    </section>
    <a href="/register">Create Login</a>
</form>